extends layout

var developers = #{developers}

block content
        .column_middle
         each member,index in developers
          .column_middle_grid1
            .profile_picture              
              img(src="#{member.Gravatar}", alt="", width="180")
              .profile_picture_name
                h2 #{index + 1}. #{member.Developer}               
            .articles_list
              ul
                li
                  a.red(href="#")
                    img(src="images/bug.png", alt="", width=20)
                    | #{member.BugsResolved}
                li
                  a.purple(href="#")
                    img(src="images/tasks.png", alt="" ,width=20)
                    | #{member.CompletedTasks}
                li
                  a.yellow(href="#")
                    img(src="images/logo.png", alt="",width=20)
                    | #{member.Total}
                .clear